@import url(./fonts.css);
:root {
  --bookman_style: "Bookman Old Style";
  --raleway_style: "Raleway";
  --new-yorkerc_style: "New-YorkerC";
  --color_1: #789776;
  --color_2: #5b6158;
  --color_3: #98958b;
  --color_bg: #fefbf7;
}
::-webkit-scrollbar {
  width: 0;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body {
  background-color: var(--color_bg);
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.main {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  flex-direction: column;
  width: 1194px;
}

.checker_input {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.checker_input::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.checker_input:checked::before {
  content: "✓";
  display: block;
  color: var(--color_bg);
  font-size: 14px;
  text-align: center;
  width: 16px;
  height: 16px;
  line-height: 12px;
  background-color: var(--color_1);
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}

.checker_input:hover {
  border-color: var(--color_1);
}

.checker_input:hover::before {
  color: var(--color_1);
}

.checker_input:checked {
  background-color: var(--color_1);
  border-color: var(--color_1);
}

.checker_input:checked:hover::before {
  color: var(--color_bg);
}

.checker_input:focus {
  outline: none;
}

@media screen and (max-width: 1194px) {
  .main {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    width: 767px;
  }
}
@media screen and (max-width: 767px) {
  .main {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    width: 375px;
  }
}
